venvthesis/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

data/
results/
logs/
models/
*.zip
*.pkl
*.pt
*.pth
*.csv

.env
.vscode/settings.json


# TensorBoard
tensorboard_log/

# Trained models
trained_models/

# Results
results/

# Cached data
*.pkl

# Python cache
__pycache__/
.ipynb_checkpoints/

# Virtual environments
venvthesis/
.venv/